/* Gallery.css */
  div.gallery {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }
  
  .gallery-item {
    margin: 0px;
  }
  
  .gallery-item img {
    width: 200px;
    height: auto;
    object-fit: cover; /* 画像のアスペクト比を保持してリサイズ */
    margin-right: 0px;
  }
  