/* Header.css */

.header {
    color: white;
    background-color: rgb(36, 38, 40);
    font-size: 2rem;
    width: 100%;
    padding: 5% 0%;
    max-height: 52px;
    align-items: center;
    justify-content: center;
  }
  